[Unit]
Description=CaRePi API
After=network.target

[Service]
User=root
WorkingDirectory=/home/yamalabo/CaRePi/CaRePi_api
ExecStart=/usr/local/bin/docker-compose up
Restart=on-failure

[Install]
WantedBy=multi-user.target
